* {
  margin: 0;
} /* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Cardo", sans-serif;
}

/* Colors */
:root {
  --color-default: #000;
  --color-primary: #028b46;
  --color-secondary: #161718;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-default);
  color: var(--color-default);
  background-color: #000;
  overflow-x: hidden;
  font-size: x-large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: yellow;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  display: flex;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  transform: rotate(90deg);
}

#preloader:before,
#preloader:after {
  content: "";
  background-color: #000;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  transition: all 3s ease 4s;
  z-index: -1;
  transform: rotate(90deg);
}

#preloader:after {
  left: auto;
  right: 0;
  transform: rotate(90deg);
}

#preloader .line {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 4px;
  height: 580px;
  transition: all 0.8s ease 0s;
  /* transform: rotate(90deg); */
}

#preloader .line:before {
  content: "";
  position: absolute;
  background-color: yellow;
  left: 0;
  top: 50%;
  width: 1px;
  height: 0%;
  transform: translateY(-50%);
  -webkit-animation: lineincrease 2000ms ease-in-out 0s forwards;
  animation: lineincrease 2000ms ease-in-out 0s forwards;
}

#preloader .line:after {
  content: "";
  position: absolute;
  background-color: #999;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  transform: translateY(-100%);
  -webkit-animation: linemove 1200ms linear 0s infinite;
  animation: linemove 1200ms linear 0s infinite;
  -webkit-animation-delay: 2000ms;
  animation-delay: 2000ms;
}

#preloader.loaded .line {
  opacity: 0;
  height: 100% !important;
}

#preloader.loaded .line:after {
  opacity: 0;
}

#preloader.loaded:before,
#preloader.loaded:after {
  -webkit-animation: preloaderfinish 300ms ease-in-out 400ms forwards;
  animation: preloaderfinish 300ms ease-in-out 400ms forwards;
}

@-webkit-keyframes lineincrease {
  0% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@keyframes lineincrease {
  0% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@-webkit-keyframes linemove {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes linemove {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes preloaderfinish {
  0% {
    width: 5 0%;
  }

  100% {
    width: 0%;
  }
}

@keyframes preloaderfinish {
  0% {
    width: 5 0%;
  }

  100% {
    width: 0%;
  }
}
